.Page1 {
  width: 1440px;
  height: 1024px;
  flex-grow: 0;
  padding: 39px 71px 18px 50px;
  background-color: #000;
}

img.cloud-upload {
  width: 380px;
  height: 380px;
  margin: 15px 222px 51px 251px;
  object-fit: contain;
}